/* Подвал */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  &__titles {
    @include block-titles();

    margin-bottom: 20px;

    color: $white-additional-color;

    @media screen and (max-width: $desktop - 1px) {
      text-align: center;
    }
  }

  &__logo {
    @include logo();
    
    display: block;
    margin-bottom: 20px;

    color: $white-additional-color;

    @media screen and (max-width: $desktop - 1px) {
      font-size: 24px;
      line-height: 1.16;
      text-align: center;
    }
  }

  &__container {
    align-items: baseline;

    @media screen and (min-width: $tablet) {
      display: flex;
    }

    @media screen and (min-width: $tablet) and (max-width: $desktop - 1px) {
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }
}

.address {
  font-style: normal;

  @media screen and (max-width: $desktop - 1px) {
    margin-bottom: 60px;
  }

  &__map {
    @include text-section();

    display: block;
    margin-bottom: 8px;

    text-align: center;

    color: $white-additional-color;

    @media screen and (min-width: $desktop) {
      margin-bottom: 9px;
      text-align: start;
    }
  }

  &__email {
    @include text-section();

    display: block;
    margin-bottom: 8px;
    text-align: center;

    color: $mailtel-logo-footer;

    @media screen and (min-width: $desktop) {
      margin-bottom: 9px;
      text-align: start;
    }
  }

  &__tel {
    @include text-section();
    display: block;

    text-align: center;

    color: $mailtel-logo-footer;

    @media screen and (min-width: $desktop) {
      text-align: start;
    }
  }
}

.footer-sn {
  margin-bottom: 60px;
  
  &__set {
    display: flex;
    justify-content: center;
  }

  &__circle-button {
    background-color: $footer-circle-btn-color;
    color: $white-additional-color;
  }

  @media screen and (min-width: $desktop) {
    margin-bottom: 0;
    margin-left: 70px;
  }
}

.footer-sn__items {
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }
}

/* Блок с подпиской */

.footer-subscribe {
  @media screen and (min-width: $desktop) {
    margin-left: 93px;
  }
  
  &__input {
    width: 100%;
    margin-bottom: 20px;

    padding-right: 0;
    padding-left: 16px;
    padding-top: 15px;
    padding-bottom: 15px;

    background-color: $hero-footer-color;
    @include border($footer-input-border);

    border-radius: 4px;
    color: $mailtel-logo-footer;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;

    @media screen and (min-width: $mobile) {
      width: 450px;
    }

    @media screen and (min-width: $desktop) {
      width: 358px;
      margin-bottom: 0;
    }
  }
  

  &__button {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (min-width: $desktop) {
      margin-left: 12px;
      margin-right: 0;
    }
  }
}

.footer-subscribe__set {
  
  & input::placeholder {
    color: $mailtel-logo-footer;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    align-items: center;
  }
}
