.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__nav {
  display: flex;
  align-items: center;
}

.site-menu {
  display: flex;

  &__item + &__item {
    margin-left: 50px;
  }
}

.site-menu__link {
  position: relative;
  color: $title-text-color;

  padding-top: 32px;
  padding-bottom: 32px;

  @include transition(color);

  @include text-header();

  &:hover,
  &:focus {
    color: $accent-color;
  }

  &--current {
    color: $accent-color;
  }

  &--current::after {
    position: absolute;
    content: '';
    display: block;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: $accent-color;
    border-radius: 2px;
  }
}

.header__contacts {
  display: flex;

  &__icon {
    margin-right: 10px;
    fill: currentColor;
  }

  @media screen and (min-width: $tablet) and (max-width: $desktop - 1px) {
    flex-direction: column;
    padding-top: 21px;
    padding-bottom: 21px;
    &__item:first-child { 
      margin-bottom: 10px;
    }
  }

  @media screen and (min-width: $desktop) {
    &__item + &__item {
      margin-left: 50px;
    }
  }
}

.header__contacts__link {
  display: flex;
  align-items: center;

  

  color: $text-color;

  @include transition(color);
  @include text-header();

  &:hover,
  &:focus {
    color: $accent-color;
  }

  @media screen and (min-width: $tablet) and (max-width: $desktop - 1px) {
    font-size: 12px;
    line-height: 1.166;
  }

  @media screen and (min-width: $desktop) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.logo {
  margin-right: 93px;
  padding-top: 16px;
  padding-bottom: 16px;

  color: $logo-color;

  @extend %logo;

  &__accent-text {
    color: $accent-color;
  }

  @media screen and (min-width: $tablet) and (max-width: $desktop - 1px) {
    padding-top: 26px;
    padding-bottom: 26px;
    margin-right: 88px;
  }

  @media screen and (min-width: $desktop) {
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 26px;
    line-height: 1.19;
  }
}

.full-menu {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;

  @media screen and (max-width: $tablet - 1px) {
    display: none;
  }
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  color: #000;

   &:hover, &:focus {
    color: $accent-color;
  }

  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.icon-menu {
  fill: currentColor;
}